In [8]:
import dimreduce as dr
from dimreduce.data.create_datasets import create_control_case_translation_split_dataset
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
create_control_case_translation_split_dataset()

0

In [11]:
df = pd.read_csv('case_control_translation_split.csv')

In [18]:
df.head()

   Unnamed: 0         X         Y    Class
0           0 -1.173455 -0.420361  Control
1           1 -0.614125  0.589735  Control
2           2 -1.343597 -0.330294  Control
3           3 -1.144425  0.008508  Control
4           4 -2.389715 -2.025785  Control